!!! 5
html
  head
    title= 'account'
    link(rel='stylesheet', href='/stylesheets/style.css')

#wrap
  #menu
    h2= 'account'
    ul 
      li
        img(src="/images/nodes.gif" )
        a(href="/")= ' nodes'
      li
        img(src="/images/node.gif" )
        a(href="/node/new")= ' new node'
      li 
        img(src="/images/logout.gif" )
        a(href="/logout")= ' logout'
      li.active
        img(src="/images/account.gif" )
        span= ' account'
      li 
        img(src="/images/settings.gif" )
        a(href="#")= ' settings'
  #nodes
    span!= user.username
    br
    span!= user.email