!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

div#header
  div#headercolor
  h1= title
#animals
    - each animal in animals
      div.animal
        div.title 
          a(href="/animal/"+animal._id.toHexString())= animal.name
        div.comments
          span= 'Comments: ' 
          span= animal.comments.length
        div.created_at
          span= 'Created: '
          span= animal.created_at
          