!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
#blackhead
#wrap
  #menu
    h2= title
    ul 
      li
        img(src="/images/nodes.gif" )
        a(href="/")= ' nodes'
      li.active
        img(src="/images/node.gif" )
        span= ' new node'
      li 
        img(src="/images/logout.gif" )
        a(href="/logout")= ' logout'
      li 
        img(src="/images/account.gif" )
        a(href="/account")= ' account'
  #nodes
    div.node-form
      form( method="post", enctype="multipart/form-data")
        div
            input(type="text", name="node-title", id="title-id", placeholder="title")
        div
            textarea( name="node-info", rows=5, id="node-info-id", placeholder="info")
        div
          input(type="file", name="node_imgs", id="imgs_id", placeholder="images")
        div
            input(type="text", name="node-keywords", id="keywords-id", placeholder="keywords")
        div
            input(type="submit", value="send").button
