!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
#bg
#blackhead
#wrap
  #menu
    h2= title
    ul 
      li
        img(src="/images/nodes.gif" )
        a(href="/")= ' nodes'
      li
        img(src="/images/node.gif" )
        a(href="/node/new")= ' new node'
      li 
        img(src="/images/logout.gif" )
        a(href="/logout")= ' logout'
      li 
        img(src="/images/account.gif" )
        a(href="/account")= ' account'
      li 
        img(src="/images/settings.gif" )
        a(href="#")= ' settings'
  #nodes
    - each node in nodes
      div.node
        div.image
          img(src="/uploads/"+node.imgs).image
        div.left
          div.bold
            a(href="/node/"+node._id.toHexString())!= node.title
        div.right
          div
           span!= node.created_at
        div.clear
          div.info
            br
            span!= node.info
          div.user
            br
            a(href="/user/"+node.username)!= node.username
          div.comments
            span= 'comments '
            span!= node.comments.length
          br
          div.keywords
            - each word in node.keywords
              a(href="/keyword/"+word)!= word+' '
        div.clear
  #clear